html {
  height: 100%;
}

body {
  font-family: 'Lato', 'Helvetica', 'Trebuchet MS', 'Arial', sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.master-container {
  width: 100%;
  max-width: 67.5rem;
  margin: auto;
  padding: 0 0.8rem;
  flex: 1 0;

  @include breakpoint (medium up) {
    padding: 0 1.6rem;
  }

  @include breakpoint (large up) {
    padding: 0 1.2rem;
  }
}

li.list-heading {
  list-style: none;
}

.is-hidden {
  display: none;
}