footer {
  width: 100%;
  background-color: #777777;
  flex: 0 1;

  .wrapper {
    max-width: rem-calc(1080px);
    margin: auto;
    text-align: center;
    color: white;

    @include breakpoint (small up) {
      padding: 20px 20px;
    }

    @include breakpoint (medium up) {
      padding: 30px 20px;
    }

    @include breakpoint (large up) {
      padding: 40px 0;
    }

    p {
      margin: 0;
    }
  }
}