questions {
  .tiny-text {
    font-size: 0.85rem;
  }

  question {
    .question-title {
      font-size: 1.3rem;
    }

    .choices {
      list-style: none;
      margin-bottom: 0;

      li + li {
        margin-top: 10px;
      }

      input {
        margin-right: 15px;
        margin-bottom: 0;
      }
    }

    .buttons-list {
      margin-top: 15px;

      button + button {
        margin-left: 5px;
      }
    }

    .button {
      @include button;
      margin-bottom: 0;

      &.disabled {
        @include button-disabled;
      }
    }
  }
}