.support-article {

}

.article-table {
  .subheading {
    text-align: left;

    th {
      padding: 0.25rem 0.625rem;
    }

    span {
      font-weight: normal;
      display: block;
    }
  }

  p {
    margin: 0;
  }

  .use-paragraph p {
    margin-bottom: 0.5rem;

    &:last-child {
      margin: 0;
    }
  }
}