.support-article {

}

.article-table {
  .subheading {
    text-align: left;
    background-color: #5b5b5b;
    color: white;

    a {
      color: white;

      &:hover {
        color: #aaa;
      }
    }

    th {
      padding: 0.25rem 0.625rem;
    }

    span {
      font-weight: normal;
      display: block;
    }
  }

  p {
    margin: 0;
  }

  .use-paragraph p {
    margin-bottom: 0.5rem;

    &:last-child {
      margin: 0;
    }
  }
}