.support-article {
  .article-content {
    img {
      @include breakpoint (small up) {
        margin: 1rem auto;
      }

      @include breakpoint (medium up) {
        margin: 1rem 0;
      }
    }
  }
}

.article-table {
  .subheading {
    text-align: left;
    background-color: #5b5b5b;
    color: white;

    a {
      color: white;

      &:hover, &:visited {
        color: #aaa;
      }
    }

    th {
      padding: 0.25rem 0.625rem;
    }

    span {
      font-weight: normal;
      display: block;
    }
  }

  p {
    margin: 0;
  }

  .use-paragraph p {
    margin-bottom: 0.5rem;

    &:last-child {
      margin: 0;
    }
  }
}