@charset "utf-8";

@import 'foundation';
@import 'normalize';

$topbar-background: #4a4a4a;
$topbar-submenu-background: whitesmoke;
$menu-item-background-active: #4a4a4a;
$topbar-padding: 1rem;
$dropdownmenu-arrow-color: white;

@include foundation-everything(true);

@import "base";
@import "header";
@import "single-page";
@import "landing";
@import "questions";
@import "footer";