---
layout: article
title: Known Incompatible Software
last_updated: 2017-06-05 03:08:00 +0100

softwares:
  -
    name: Norton Antivirus
    versions: All Versions
    notes: Use the [Norton Uninstall Tool](http://liveupdate.symantecliveupdate.com/upgrade/RnR/NRnR.exe) for best results.
  - name: PCKeeper
    versions: All Versions
    notes: Antivirus, Uninstall
  - name: Lavasoft/Webcompanion
    version: All versions
    notes: Follow https://redd.it/3k1rxt after uninstalling
  - name: Comodo
    version: New launcher
    notes: Antivirus, disabling works
  - name: Intel Security
    version: All versions
    notes: Rebranded mcafee, causes issues with login/server joining process. Only fix is to uninstall
---

<p>These software are known to be incompatible with Minecraft, and should be uninstalled from your system.</p>

<table class="article-table">
    <thead>
        <tr>
            <th>Name of Software</th>
            <th>Versions Affected</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for software in page.softwares %}
        <tr>
            <td>{{ software.name | markdownify }}</td>
            <td>{{ software.versions | markdownify }}</td>
            <td>{% if software.notes %}{{ software.notes | markdownify }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
