---
layout: article
title: Known Incompatible Software
last_updated: 2017-06-05 03:08:00 +0100

softwares:
- name: Antiviruses and Firewalls
  description: "Note: We recommend [Avast! Antivirus](https://avast.com), [Microsoft Security Essentials](https://support.microsoft.com/en-gb/help/14210/security-essentials-download) or [Common Sense™](http://disaster-resource.com/index.php?option=com_content&view=article&id=142) as your antivirus."
  items:
  - name: ByteFence
    versions: All Versions
    notes: |
      Causes download problems, reputation questionable.

      [Uninstall instructions here](https://bugs.mojang.com/browse/MCL-5546)

  - name: McAfee Anti-virus / Intel Security
    versions: All Versions
    notes: |
      Causes login and multiplayer connectivity problems.

      [Uninstall instrcuctions here](https://service.mcafee.com/webcenter/portal/cp/home/articleview;jsessionid=fMZ2awQ2F98j_GJvJCn5pzno6sMeextha09fZKRg3ZKwu4F4nDLB!1097667597!1729628137?articleId=TS101331&_afrLoop=2086917493563893#!%40%40%3F_afrLoop%3D2086917493563893%26articleId%3DTS101331%26centerWidth%3D100%2525%26leftWidth%3D0%2525%26rightWidth%3D0%2525%26showFooter%3Dfalse%26showHeader%3Dfalse%26_adf.ctrl-state%3Dmzyb2h0qq_4)

  - name: Norton Antivirus
    versions: All Versions
    notes: |
      Causes download, login and multiplayer connectivity problems, degrades performance.

      Use the [Norton Uninstall Tool](http://liveupdate.symantecliveupdate.com/upgrade/RnR/NRnR.exe) for best results.

  - name: PCKeeper / MacKeeper
    versions: All Versions
    notes: |
      Causes login and multiplayer connectivity problems, degrades performance, reputation questionable.

      Uninstall instructions: [PC](https://pckeeper.com/uninstalling) / [Mac](http://www.macworld.co.uk/how-to/mac-software/how-remove-mac-antivirus-software-mackeeper-refund-3612033/)

  - name: Webroot SecureAnywhere
    versions: All Versions
    notes: |
      Causes login and multiplayer connectivity problems.

      If you're having issues joining a LAN world while using Webroot SecureAnywhere, open your settings, navigate to **System Tools --> System Control --> Control Active Processes** and make sure Java and Minecraft are set to Allow.
---

<p>These software are known to be incompatible with Minecraft, and should be uninstalled from your system.</p>

<table class="article-table">
    <thead>
        <tr>
            <th width="20%">Name of Software</th>
            <th width="15%">Versions Affected</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for category in page.softwares %}
        <tr class="subheading" scope="rowgroup">
            <th colspan="3">{{ category.name }}{% if category.description %}{{ category.description | markdownify | replace: "<p>", "<span>" | replace: "</p>", "</span>"}}{% endif %}</th>
        </tr>
            {% for software in category.items %}
        <tr>
            <td class="software-name" scope="row">{{ software.name | markdownify }}</td>
            <td class="software-versions">{{ software.versions | markdownify }}</td>
            <td class="software-notes use-paragraph">{% if software.notes %}{{ software.notes | markdownify }}{% endif %}</td>
        </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>