<header class="site-header">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="left-menu menu">
                <li class="menu-text site-title"><a href="/">MinecraftIRC.net</a></li>
            </ul>
        </div>
        <div class="menu-button">
            <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
              <span class="menu-icon light" data-toggle></span>
            </span>
        </div>
        <div class="top-bar-right" id="responsive-menu">
            <ul class="dropdown menu" data-dropdown-menu>
                <li>
                    Channels
                    <ul class="menu">
                        <li><a href="/minecraft">#minecraft</a></li>
                        <li><a href="/minecrafthelp">#minecrafthelp</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>
</header>
