---
layout: single_page
---
<article class="support-article" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="article-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
            Last Updated: <time datetime="{{ page.last_updated | date_to_xmlschema }}" itemprop="dateUpdated">
                {{ page.last_updated | date: "%b %-d, %Y" }}
            </time>
            {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                itemprop="name">{{ page.author }}</span></span>{% endif %}
        </p>
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

</article>
